/***Defaults***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000513;
}

.wrapper{
    width: 100%;
    background-color: #fff;
    margin: 0 auto 5%;
}

.container{
    text-align: center;
}

.container h2{
    padding: 50px 0 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;   
} 

.toggle{
    display:none;
}

/***Contact wrapper**/
.contact-wrapper{
    position:fixed;
    z-index:100;
    background-color: rgba(255,255,255,0.95);
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    color: #000513;
}

.contact-wrapper h2{
    color: #000513;
}

.return-btn{
    color: #000513;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    padding:10px 25px;
    background-color: transparent;
    border: #000513 2px solid;
    border-radius: 25px;
}

.return-btn:hover{
    cursor:pointer;
    background-color: #000513;
    color:#fff;
}

/***Header container***/

header{
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:99;
    color:#fff;
}

.header-container{
    background-image: url(images/header-background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;;
}

.header-row{
    display:flex; 
    flex-wrap: wrap-reverse;
    padding: 10px 2%;
    justify-content: space-between;
}

.menu,
.contact,
.socials{
    flex: 1 0 100px; 
    font-size: 1rem;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.menu{
    text-align: left;
}

.menu:hover{
    cursor:pointer;
}

.contact{
    transition: transform .5s ease-in-out;
}

.contact:hover{
    cursor:pointer;
    transform:  scale(1.2);
}

.menu-toggle{
    text-transform:  uppercase;
    background-color: #fff;
    width:100%;
    color: #000513;
    opacity: 0.6;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    -webkit-box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.66);
}

.menu-toggle ul{
    list-style-type:none;
}

.menu-toggle ul li{
    padding: 10px 2%;
}

.menu-toggle ul li:hover{
    background-color: #000513;
    color:#fff;
    cursor: pointer;
}

.menu-toggle ul a{
    text-decoration: none; 
}

.socials{  
    text-align: right; 
}

.welcome{
    margin: 0 auto;
    padding: 10% 10%;
    text-align: center;
    color:#fff;
}

.welcome-header,
.welcome-text{
    margin-bottom: 2%;
}

.welcome-header{
    text-align:center;   
}

.welcome-header h1{
    margin: auto;
    text-align: center;
    padding-top: 1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.welcome-text{
    line-height: 1.5rem;
}

.projects-btn{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    padding:10px 25px;
    background-color: transparent;
    border: #fff 2px solid;
    border-radius: 25px;
    transition: all .2s ease-in;
}

.projects-btn:hover{
   border: #fff 2.2px solid;
   font-size: 1.1rem;
   cursor: pointer;
   background-color: rgba(255,255,255,0.2);
}

@media (min-width: 550px){
    .menu,
    .contact,
    .socials{
        font-size: 1.5rem;
    }
}

@media (min-width: 950px){
    .welcome-text{
        padding: 0 20%;
    }
    .menu-toggle{

        top: 50px;
        left:0;
    }
}

/***Technnologies***/

.technologies-container{
    background-color: #000513;
}
.technologies-container h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem; 
}
.progress{
    display: flex;
    margin: 20px;
}

.technology{
    padding: 0 1%;
    flex:1;  
}

.percents{
    padding: 0 1%;
    margin: auto;
    flex:1;
    color: #fff;
    font-size: 1.8rem;
}

.canvas-container{
    flex:1 0 100px;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}

canvas {
    margin: auto;
}

/***Projects***/

.projects-container{
    background-image: url(images/header-background.jpeg);
    background-image: url(images/header-background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 50px;
    
}

.project-row{
    display: flex;
    margin: 3% 10%;
}

.project-row:nth-child(even){
    text-align: left;
    flex-wrap: wrap;
}

.project-row:nth-child(odd){
    text-align: right;
    flex-wrap: wrap-reverse;
}

.project-img {
    position: relative;
    flex: 1 1 250px;;
    margin: auto;
    max-width:300px;  
}

.project-img img{
    max-width: 500px;
    width: 100%;
    height: auto;
}

.project-img-hover svg {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 5rem;
    color: #000513;
}

.project-img-hover{
    position: absolute;
    top:0;
    left:0;
    background-color: #fff;
    opacity: 0;
    display:block;
    width:100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

.project-img:hover{
    cursor: pointer;
}

.project-img:hover .project-img-hover{
    opacity: 0.8; 
}

.project-text{
    flex: 2 3 350px;
    color: #fff;
    padding: 2% 5%;
    margin: auto;
}

.project-text h3{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.project-text h4{
    padding: 2% 0;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

/***Experience***/

.experience-container{
    background-color: #000513; 
}

.experience-row{
    display:flex;
    color: #fff;
    flex-wrap: wrap; 
    margin: 5% 8%;
    padding:2%;
    border: 1px #fff solid;   
}

.experience-img{
    flex: 1 0 300px;
    margin: auto;
}

.experience-row img {
    padding: 2%;
    max-width: 250px;
    width:100%;
    height: auto;
}

.experience-text{
    flex: 1 2 350px;
    text-align: left;
    padding-left: 2%;
}

.experience-text h3{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.experience-text h4{
    padding: 1% 0;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

/***Other Experience***/

.other-experiences-container{
    background-image: url(images/header-background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;;
    padding: 5%;
}

.slider{
    position: relative;
    margin: 5% 20%;
    color: #fff;  
}

.slider-wrapper{
    position: relative;
    width:100%;
    height:auto;
    min-height: 410px;
    padding: 8%;
    background-color: #000513;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
}
.slider-wrapper h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem; 
}
.slider-wrapper h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    padding: 10px 0;
}

.slide{
    display:none;
    margin: auto;
}
.slide img{
    padding: 2% 0;
    margin: auto;
}
.active{
    display: block;
    -webkit-animation: slide-down 2s ease-out;
    -moz-animation: slide-down 2s ease-out;
}

@-webkit-keyframes slide-down {
    0% { opacity: 0; }   
    100% { opacity: 1; }
}

@-moz-keyframes slide-down {
    0% { opacity: 0; }   
    100% { opacity: 1; }
}

.angle{
    position: absolute;
    left:0;
    width:100%;
    height:auto;
    font-size: 2rem;  
}

.angle-up{
    top:0;
    padding-top: 2%;
}

.angle-down{
    bottom:0;
    padding-bottom: 2%;
}

.angle:hover{
    cursor: pointer;
}

/***Education***/

.education-container{
    background-color: #000513; 
}

.education-row{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    margin: 5% 8%;
    padding:2%;
    border: 1px #fff solid; 
}

.education-img{
    flex: 1 1 300px;
    margin: auto;
}

.education-text{
    flex: 1 2 350px;
    text-align: left;
    padding: 2%;
}

.education-img img{
    padding: 2%;
    max-width: 400px;
    width:100%;
    height:auto;
}

.education-text h3{
    padding: 1% 0;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

/***Hobby***/
.hobby-container{
    background-image: url(images/header-background.jpeg);
    background-image: url(images/header-background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;;
}

.hobby-container h3{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 3% auto 0;
    width: 30%;
    padding: 10px;
    border: 1px #fff solid;
}

.hobby-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hobby-gallery-item {
    max-width:350px;
    height: auto;
    flex: 1 0 150px;
    margin: 10px;
    text-decoration: none;
    position: relative;
}

.hobby-text {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    max-width: 350px;
    display: block;
    text-align: center;
    color: #fff;
    opacity: 0;
    height: 0;
    transition: all 0.8s ease;
    padding: 2% 5%;
}

.hobby-gallery-item:hover .hobby-text{
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
    height: 80%;
}

.hobby-text {
    font-size: 1.2rem;
    color: #000513;  
}

.hobby-text h4{
    padding: 3% 0;
    font-size: 1.4rem;
    text-transform: uppercase;
}
/*** Footer ***/
.footer-container{
    background-color: #000513; 
    color: #fff;
    text-align: center;
}